<%= render :template => './_menu.html.erb' %>

<div class="about_me">
	<div class="about_me_content">

		<p>Strona internetowa została stworzona przez Jakuba Kuleszę jako integralna część projektu licencjackiego, pod opieką prof. dr. hab. Wiesława Lubaszewskiego, w ramach seminarium licencjackiego.</p>
<p>Jej głównym zadaniem jest wprowadzenie użytkowników sieci w zagadnienie anonimowości.</p>
<p>Autorem wszystkich tekstów i grafik jest Jakub Kulesza</p>
<p>W przypadku pojawienia się jakichkolwiek pytań, zachęcam do kontaktu mailowego: <a href="mailto:jakub.kulesza@uj.edu.pl">jakub.kulesza@.uj.edu.pl</a></p>

	</div>
</div>
