<%= render :template => './_menu.html.erb' %>

<div class="static_page">
	<div class="static_page_menu">
		<h1>FENOMEN ANONIMOWOŚCI</h1>
		<ul>
			<li></li>
			<li><a href="#pojecie_anonimowosci">pojęcie anonimowości</a></li>
			<li><a href="#anonimowosc_w_kulturze">anonimowość w kulturze</a></li>
			<li><a href="#wady_i_zalety">wady i zalety</a></li>
			<li><a href="#prawo">podstawy prawne</a></li>
			<li></li>
		</ul>
	</div>

	<div class="static_page_content">
		<a name="pojecie_anonimowosci"><h1>pojęcie anonimowości</h1></a>
		<p>Etymologia słowa „anonimowość” sięga greckiego pojęcia <i>anonymia</i>, które oznaczało „bezimienność”, „niezidentyfikowanie” albo „nieznane imię”. Było to pojęcie, które odnosiło się do wizerunku osoby w życiu publicznym. Postać pozostając anonimowa wyrażała swoje poglądy, bez potwierdzenia uprzednio swojej tożsamości. Dzięki temu pozostawała nierozpoznawalna dla pozostałych mówców.</p>
	<p>W kontekście anonimowości, należałoby również wspomnieć o pseudonimowości. Posługiwanie się pseudonimami (fałszywymi imionami określającymi naszą tożsamość) również prowadzi do zachowania anonimowości – pozostawieniu w ukryciu naszej prawdziwej tożsamości.</p>
 
 <ol><h3>Rodzaje anonimowości (Froomkin):</h3>
 <li><h4>Anonimowość identyfikowalna (traceable anonymity)</h4>
W przypadku używania poczty elektronicznej, kiedy odbiorca nie zna nadawcy, może dociekać jego prawdziwej tożsamości przy pomocy usług operatora (dostawcy usług e-mailowych).</li>
 <li><h4>Anonimowość nieidentyfikowalna (untraceable anonymity)</h4>
Tożsamość nadawcy jest niezidentyfikowana, nawet przy pomocy dostawcy usługi 
e-mailowej.</li>
 <li><h4>Pseudonimowość identyfikowalna (traceable pseudonimity)</h4>
Kiedy używany pseudonim dopuszcza nie tylko wysyłanie, ale również odbiór komunikatu.</li>
 <li><h4>Pseudonimowość nieidentyfikowalna (untraceable anonymity)</h4>
Kiedy pseudonim posłużył jedynie nadaniu komunikatu.</li>
	<a href="#top" class="back">powrót</a>
	</div>

	<div class="static_page_content">
		<a name="anonimowosc_w_kulturze"><h1>anonimowość w kulturze</h1></a>
		<p>Anonimowość i pseudonimowość są zjawiskami na stale zakorzenionymi w historii. Dla przykładu, William Shakespeare najprawdopodobniej posługiwał się pseudonimem i po dziś dzień nie jest znane jego prawdziwe imię. Co więcej, wielu badaczy (m.in. Mark Twain, Henry James i Zygmunt Freud) uważało, że postać poety Williama Shakespeare'a została całkowicie wymyślona. Ich zdaniem jego wykształcenie nie pozwalało mu na pisanie tak wybitnych dzieł jak „Romeo i Julia”, czy „Kupiec Wenecki”. Krążą nawet plotki, że postać, którą wszyscy mieli za wybitnego poetę, była analfabetą. Istnieje również pogląd, jakoby autorem dzieł Shakespear'a był Edward de Vere, dobrze wykształcony dworzanin i poeta, który w trakcie swoich podróży poznał Wenecję i inne włoskie miasta. Pisanie sztuk pod pseudonimem miałoby go ustrzec przed hańbą jaką jest pisanie sztuk dla teatrów publicznych przez osoby wysoko usytuowane.</p>
<p>Niejasności wokół postaci Williama Shakespeare'a pokazują, ile zamieszania w odbiorze treści może nieść za sobą ukrywanie się za pseudonimami i dążenie do anonimowości. Pokazują również, jak wielkie znaczenie dla komunikatu, prócz samej treści, ma osoba go wypowiadająca.</p>
<p>Nasz wizerunek w dużym stopniu wpływa na wypowiadane przez nas treści. Ostateczny kształt i forma wiadomości różni się zależności od tego, w jakim stosunku jesteśmy z odbiorcą. Inaczej te samo zdanie zabrzmi wypowiedziane przez dziecko na placu zabaw, a inaczej przez polityka na mównicy. Niemniej te samo zdanie, wyodrębnione z kontekstu, będzie miało taki sam sens. Anonimowość pozwala nam na wyzbycie się kontekstu naszej tożsamości.</p>
<p>Anonimowość pozwala nam również na uniknięcie konsekwencji jakie mogą wypłynąć w wyniku wypowiadanych treści. Będąc odciętymi od własnego wizerunku, który reprezentuje naszą tożsamość, bez większych przeszkód możemy wyrażać nasze zdanie nawet na najbardziej kontrowersyjne treści. Przyjęło się sądzić, że ankiety anonimowe są bardziej wiarygodne od tych, które wiążą się z ujawnieniem naszej tożsamości. Anonimowość staje się wówczas warunkiem pojawienia się prawdy.</p>
<p>W związku z tym wiele zwyczajów obecnych w kulturze, w których prawda odgrywa istotną rolę, pozwala na zachowanie anonimowości. Za przykład może posłużyć sytuacja w kościele katolickim, gdzie przy sakramencie pokuty korzysta się najczęściej ze specjalnie zaprojektowanego konfesjonału, który pozwala penitentowi ukryć tożsamość i tym samym szczerze przyznać się do popełnionych występków.</p>
	<a href="#top" class="back">powrót</a>	
	</div>
	<div class="static_page_content">
		<a name="wady_i_zalety"><h1>zalety i wady anonimowości</h1></a>
		<div class="pros_cons">
			<ul class="pros">
				<li>Anonimowe informowanie służb porządkowych albo prasy, pozwala uporać się z problemem przemocy i znęcaniem się silniejszego nad słabszym. Silnejszym może być zarówno nieczuły ojciec rodziny, jak i upokarzająca swoich pracowników duża instytucja. Zachowanie anonimowości w takiej sytuacji pozwala pokrzywdzonemu na wezwanie pomocy, bez doświadczenia kolejnych represji.</li>
<li>Anonimowość pozwala wyrażać swoje poglądy polityczne wszystkim tym, którym państwo odebrało prawo do wolnej wypowiedzi. Sprawiając tym samym, że takie wiadomości stają się  dla reszty świata bardziej wiarygodne od tych, jakie prezentuje oficjalne stanowisko represującego państwa.</li>
<li>Anonimowość pozwala wielu mówić o trudnych i intymnych problemach. Dzielenie się problemami bardzo często pozwala na ich rozwiązanie. Badania pokazują, że anonimowość wpływa na ilość i swobodę wypowiadanych informacji.</li>
<li>Ludzie swobodniej wyrażają swoje opinie i mają w stosunku do nich bardziej obiektywne podejście, kiedy wiedzą, że są anonimowi.</li>
<li>Ludzie są bardziej równi w anonimowej dyskusji (pomijany sąt wówczas status społeczny, wykształcenie i stereotypy kulturowe).</li>
			</ul>
		</div>
		<div class="pros_cons">
			<ul class="cons">
				<li>Anonimowość może być wykorzystywana w celu ukrycia prawdziwej tożsamości przestępców. Dzięki niej konsekwencji uniknąć mogą m.in. pedofile, handlarze organami, dilerzy narkotykowi, zorganizowane grupy przestępcze handlujące między sobą bronią, czy też organizacje terrorystyczne. W takiej sytuacji Internet stał się rewelacyjnym medium umożliwiającym organizację przestępczego światka.</li>
<li>Anonimowość może posłużyć jako narzędzie w celu agitowania rasistowskich i dyskryminujących wypowiedzi. Agitujący ucieka od odpowiedzialności za wypowiedzenie brutalnej i krzywdzącej treści. Anonimowość jest wówczas wykorzystywana do rozprzestrzeniania nienawiści.</li>
<li>Anonimowość może być wykorzystywana do nękania innych ludzi (stalking, obrażanie, szantaż, groźba).</li>
			</ul>		
		</div>
	<div class="clear"></div>
	<a href="#top" class="back">powrót</a>
	</div>

<div class="static_page_content">
		<a name="prawo"><h1>podstawy prawne</h1></a>
<p>Mimo tego, że istnieje wiele powodów, dla których dążymy do zachowania anonimowości w Internecie, to najbardziej popularny wiąże się z ochroną naszej prywatności. Ze względu na globalny charakter Internetu, regulujące go prawo jest w ogromnym stopniu międzynarodowe. Prawo dotyczące możliwości zachowania anonimowości w Internecie ma bliski związek z Prawami Człowieka.</p>
<p>Tak naprawdę nie ma praw, które gwarantowałyby zachowanie anonimowości. Wszystkie regulacje, pod które kwestia anonimowości może podchodzić, wiążą się ochroną prywatności.</p>
<p>Ochrona prywatności jest zagwarantowana m.in. w 12. artykule Konwencji Praw Człowieka, w 17. artykule Międzynarodowego Paktu Praw Obywatelskich i Politycznych oraz w 8. artykule Europejskiej Konwencji Praw Człowieka.</p>
<a href="#top" class="back">powrót</a>
</div>
