<%= render :template => './_menu.html.erb' %>

<div class="about_me">
	<div class="about_me_content">

<h2>Bibliografia</h2>
<h3>książkowa:</h3>
<ol>
	<li>Rolf H. Weber, Ulrike I. Heinrich, Anonymization, Springer London, Heidelberg, New York, Dordrecht 2012.</li>
</ol>

<h3>Artykuły znalezione w Internecie:</h3>
<ol>
	<li>Bartłomiej Dreśliński, Gazeta.pl; Michał Engelhardt, Policyjni.pl; Tomasz Nowak, TOK FM, <a href="http://wiadomosci.gazeta.pl/wiadomosci/1,126568,7271969,Jak_dobrze_gwalcic_dzieci__Pedofil_radzi.html">Jak dobrze gwałcić dzieci? Pedofil radzi</a> , wejście 25.05.2012r.</li>
	<li><a href ="http://prawo.vagla.pl/node/9686">Dyskusja: Anonimowość w Internecie i mowa nienawiści</a>,  wejście: 25.05.2012r.</li>
</ol>

<h3>Pozostałe materiały:</h3>
	<li><a href="https://sites.google.com/site/anonymity0726/student-opinion">Badania anonimowości przeprowadzone na liczbie 25 studentów</a></li> 
	<li><a href="https://metrics.torproject.org/users.html">Dane dotyczące sieci TOR</a></li>
</h3> 

</ul>
	</div>
</div>
