<div id="menu">

<div class="menu_button">
	<div id="anonymity_button">
		image placeholder
	</div>
	<div id="anonymity_button_description">
		<h3>anonimowość</h3>
		<p>pojęcie anonimowości</p>
	</div>
</div>


<div class="menu_button">
	<div id="tracking_button">
		image placeholder		
	</div>
	<div id="tracking_button_description">
		<h3>identyfikacja</h3>
		<p>identyfikacja użytkowników w sieci</p>
	</div>
</div>


<div class="menu_button">
	<div id="methods_button">
		image placeholder
	</div>
	<div id="methods_button_description">
		<h3>ukrywanie</h3>
		<p>metody ukrywania tożsamości w sieci</p>
	</div>
</div>


<div class="menu_button">
	<div id="problems_button">
		image placeholder
	</div>
	<div id="problems_button_description">
		<h3>problemy</h3>
		<p>problemy wokół anonimowości w internecie</p>
	</div>
</div>


<div class="menu_button">
	<div id="statistics_button">
		image placeholder
	</div>
	<div id="statistics_button_description">
		<h3>statystki</h3>
		<p>statystyki</p>
	</div>
</div>
	<div class="clear"></div>

</div>

<div id ="mainpage">
	<div id="mainpage_content">
		<div id="mainpage_matters">
		</div>

		<div id="mainpage_info">
		</div>
	</div>

</div>
	<div class="footer">

</div>

<%= link_to 'weź udział w dyskusji', matters_path %>
