<%= render :template => './_menu.html.erb' %>

<div class="static_page">
	<div class="static_page_menu">
		<h1>PROBLEMY Z ANONIMOWOŚCIĄ</h1>
		<ul>
			<li></li>
			<li><a href="#mowa_nienawisci">mowa nienawiści</a></li>
			<li><a href="#sieci_tor">mroczna strona TOR</a></li>
			<li><a href="#przypadki">przypadki</a></li>
			<li></li>
		</ul>
	</div>

	<div class="static_page_content">
		<a name="mowa_nienawisci"><h1>mowa nienawiści</h1></a>
<p>W 2011 roku Fundacja Wiedza Lokalna1 opracowała narzędzie, które przeszukuje zasoby Internetu w poszukiwaniu „mowy nienawiści” i „języka wrogości”. Narzędzie analizuje język używany na forach internetowych i klasyfikuje odnalezione tam posty pod kątem nacechowania negatywnymi informacjami. Autorzy badania twierdzą, że „Zbierane informacje są wiarygodne, ponieważ ocena wypowiedzi (stopnia demonstrowanej wrogości) nie jest pochodną subiektywnych odczuć twórców Raportu, ale wynikiem odnoszącym się do skali opracowanej w badaniu grupy 800 osób, odwzorowującej populację internautów w Polsce ze względu na wiek, płeć, wielkość miejsca zamieszkania oraz poziom wykształcenia”.</p>
<p>Pierwszy pomiar ujawnił ponad 85 tys. przypadków stosowania mowy nienawiści w spontanicznych wypowiedziach Polaków na temat mniejszości etnicznych i kulturowych. W tym przypadku anonimowość jest warunkiem umożliwiającym wyrażenie swojej obraźliwej opinii. Autorzy raportu apelują o zniesienie częściowej anonimowości i umożliwienie wyrażania opinii jedynie tym, którzy podpiszą się pod nią swoim imieniem i nazwiskiem.</p> 
	<a href="#top" class="back">powrót</a>
	</div>

	<div class="static_page_content">
		<a name="sieci_tor"><h1>mroczna strona TOR</h1></a>
	<p>Często o sieci TOR mówi się w kontekście drugiego dna internetu. Dostęp do niej możliwy jest dzięki zainstalowaniu odpowiedniej aplikacji. Sieć TOR łączy się z witrynami w sposób, który uniemożliwia identyfikację adresu IP. Dzieje się to poprzez łączenie się z jedynym z losowo wybranych komputerów (tzw. węzłów), który przekazuje żądanie połączenia do losowo wybranej maszyny. Węzły nie zapamiętują co przesyłają, skąd i gdzie. Trasa łączenia jest zmieniana średnio co dziesięć minut. Tym samym wykrycie nadawcy lub odbiorcy jest niesamowicie trudne, ale nie niemożliwe – wymaga to jednak wyłożenia ogromnych nakładów finansowych.</p> 
<p>Z początku sieć TOR zaprojektowana była dla Marynarki Stanów Zjednoczonych i miała służyć przesyłaniu zaszyfrowanych informacji. Po jej upublicznieniu, stała się ona narzędziem w rękach zarówno bojowników o wolność w represjonowanych państwach, jak i całej rzeszy złoczyńców.</p>
<p>Kiedy sieć TOR zaczęła być używana przez przestępców, została ona jednym z najbardziej popularnych czynników organizujących przestępczy światek. Na zakładanych w jej ramach forach, informacjami wymieniają się terroryści, handlarze organów i dewianci seksualni. Spośród tych ostatnich, największą aktywność wykazują pedofile.</p>
<p>Czując się całkowicie bezpiecznie, pedofile wymieniają się informacjami dotyczącymi sposobów uprowadzania dzieci, wykorzystywania ich i stosowanej wobec nich szkodliwej perswazji. Fora w ramach sieci TOR stają się zasobnikami dziecięcej pornografii.</p>
<p>Zdaniem seksuologa Lwa Starowicza, większość z publikowanych na forach treści jest tylko wymysłem wyobraźni użytkowników. Jednak, jak stwierdza seksuolog, znaleźć tam można również treści publikowane przez prawdziwych pedofilów.</p>
<p>Nawet jeżeli zmyślone, pedofilskie fantazje wyrażane na forum publicznym pozostają niezwykle groźne.</p>
<p>Policjantom pozostaje jedynie monitorowanie sieci TOR. Uchwycenie pedofila jest możliwe, ale wiąże się z koordynacją wielu jednostek policji, również tych spoza kraju.<p>
<p>Jeżeli sieć TOR jest wylęgarnią złoczyńców i przestępców, to dlaczego nie zakazać jej używania? Z przywileju anonimowości korzystają również ciemiężeni działacze polityczni w krajach, w których panuje reżim totalitarny. Sieć TOR jest również narzędziem służącym do sprzeciwiania się niesprawiedliwości w świecie. Jest uznawana za ostoję wolności słowa i poglądów. Użytkownicy tej sieci uważają, że pomimo takich plag jak terroryzm czy pedofilia, ogół dobra, jaki wynika z możliwości korzystania z sieci TOR, przewyższa zło, jakie z niej wypływa.</p>
	<a href="#top" class="back">powrót</a>
	</div>

	<div class="static_page_content">
		<a name="przypadki"><h1>przypadki</h1></a>
	<p>DO UZUPEŁNIENIA!</p>
	<p>Handel organami: <a href="http://forum.wspolczesna.pl/pilne-potrzebuje-pieniedzy-sprzedam-nerke-i-szpik-kostny-t56201/page__st__20">forum.wspolczesna.pl</a></p>
	<p>Zwłoki <a href="http://forum.wspolczesna.pl/pilne-potrzebuje-pieniedzy-sprzedam-nerke-i-szpik-kostny-t56201/page__st__60"> do sprzedania.</a></p>
	<p>Napisano 29 kwiecień 2012 - 18:36
Młody 25 - latek bez nałogów, o zupełnie czystej '' kronice chorobowej '', B RH +, sprzeda dowolny organ/ ilość narządów za 1 mln euro w dowolnym miejscu na globie. Motyw klasyczny - beznadziejna sytuacja egzystencjalna mojej rodziny. 100 % zdecydowania i natychmiastowa gotowość do wyjazdu w ''ostatnią podróż życia. '' 

devilmycry@o2.pl </p>
	<p>sprzedam dziewictwo <a href="http://www.sprzedamdziewictwo.pl/">forum</a></p>
	<p>sprzedaż dzieci <a href="http://www.pomorska.pl/apps/pbcs.dll/article?AID=/20110314/CIEKAWOSTKI/615398728">artykuł</a>
	<p>surogatki, <a href="http://www.polskatimes.pl/artykul/302661,sprzedam-dziecko-za-35-tysiecy-setki-ofert-surogatek-w,id,t.html">artykuł</a>

	<a href="#top" class="back">powrót</a>
	</div>

	
</div>
