<%= render :template => './_menu.html.erb' %>

<div class="static_page">
	<div class="static_page_menu">
		<h1>STATYSTYKI</h1>
		<ul>
			<li></li>
			<li><a href="#tresci">treści</a></li>
			<li><a href="#tematy">tematy</a></li>
			<li></li>
		</ul>
	</div>

	<div class="static_page_content">
		<a name="tresci"><h1>treści</h1></a>
		<p>Jednym z pierwszych serwerów gwarantujących skuteczne zatajenie własnej tożsamości założony został na początku lat 90. przez Fina  Johana Helsingiusa. Mikael Berglund przeprowadził badania i analizę treści przepływających przez niego wiadomości:</p>

		<dl class="chart">
		  <dt>Dyskusje (<em>seks, hobby, praca, religia, etyka, oprogramowanie</em>)</dt>
  			<dd><span id="data-one">30%</span></dd>
  		<dt>Ogłoszenia (<em>głównie seksualne i romantyczne, pisane przez mężczyzn</em>)</dt>
  			<dd><span id="data-two">23,10%</span></dd>
  		<dt>Pytania i odpowiedzi (<em>seks, oprogramowanie, medycyna i leki</em>)</dt>
  			<dd><span id="data-three">16,50%</span></dd>
			<dt>Teksty (<em>pornograficzne - różnej orientacji seksualnej, sprośne dowcipy</em>)</dt>
  			<dd><span id="data-four">13,20%</span></dd>
  		<dt>Wiadomości testowe (<em>testowanie, czy anonimowość jest zachowywana</em>)</dt>
  			<dd><span id="data-five">9,90%</span></dd>
  		<dt>Zdjęcia (<em>głównie pornograficzne</em>)</dt>
  			<dd><span id="data-six">3,70%</span></dd>
			<dt>Oprogramowanie komputerowe</dt>
  			<dd><span id="data-seven">0,40%</span></dd>
			<dt>Nieklasyfikowane (<em>zapisane w języku niezrozumiałym dla badaczy - głównie chiński</em>)</dt>
  			<dd><span id="data-eight">3,30%</span></dd>
</dl>
	<a href="#top" class="back">powrót</a>
	</div>

	<div class="static_page_content">
		<a name="tematy"><h1>tematy</h1></a>
		<p>Najczęściej poruszane tematy w sieciach anonimowych:</p>
					<dl class="chart">
		  <dt>seks</dt>
  			<dd><span id="data_nd-one">18,8%</span></dd>
  		<dt>matrymonialne</dt>
  			<dd><span id="data_nd-two">18,5%</span></dd>
  		<dt>testowe</dt>
  			<dd><span id="data_nd-three">9,4%</span></dd>
			<dt>programistyczne</dt>
  			<dd><span id="data_nd-four">8,7%</span></dd>
  		<dt>hobby i praca</dt>
  			<dd><span id="data_nd-five">5,8%</span></dd>
  		<dt>niesklasyfikowane</dt>
  			<dd><span id="data_nd-six">4,7%</span></dd>
			<dt>sprzęt komputerowy</dt>
  			<dd><span id="data_nd-seven">4,3%</span></dd>
			<dt>religia</dt>
  			<dd><span id="data_nd-eight">4%</span></dd>
			<dt>inne (poniżej 4%)</dt>
				<dd><span id="data_nd-fourteen">21,2%</span></dd>
				</dl>
		<a href="#top" class="back">powrót</a>
	</div>
	
</div>
