<%= render :template => './_menu.html.erb' %>

<div class="static_page">
	<div class="static_page_menu">
		<h1>TROPIENIE UŻYTKOWNIKÓW SIECI</h1>
		<ul>
			<li></li>
			<li><a href="#sciezki_danych">pozostawianie śladów</a></li>
			<li><a href="#ciasteczka">ciasteczka</a></li>
			<li><a href="#swiadome">mówienie o sobie</a></li>
			<li></li>
		</ul>
	</div>

	<div class="static_page_content">
		<a name="sciezki_danych"><h1>pozostawianie śladów</h1></a>
		<p>Przez ostatnie dwadzieścia lat użytkownicy Internetu wymyślili nowe sposoby na korzystanie z sieci. Już od samego początku najbardziej popularnym stało się używanie Internetu w celu otrzymywania i dostarczania informacji. W celu uskutecznienia wymiany danych wprowadzono adresy IP (Internet Protocol).</p>
<p>Większość połączeń z serwerami wykonywane jest przy użyciu protokołu TCP/IP. Jedną z jego składowych, jest adres IP, które są czterobajtowym adresem komputera w Internecie. Każdy podłączony do sieci komputer musi mieć unikalny adres IP. Adres ten zapisuje się jako cztery liczby z zakresu 0 – 255, oddzielone kropkami (każda liczba oznacza jeden bajt). Użytkownicy nie muszą pamiętać swoich adresów IP. Nie muszą również pamiętać adresów IP serwerów z którymi się łączą. Większość adresów IP jest bowiem tłumaczone na łatwe do zapamiętania nazwy przez system DNS (Domain Name Server).</p>
<p>W trakcie surfowania po Internecie, komputer komunikuje się z innymi komputerami lub serwerem posługując się adresem IP. Tym samym zostawia swój „ślad” na każdej odwiedzanej stronie internetowej. Logi stron internetowych zapisują adresy IP użytkowników, czas, jaki poświęcili na przeglądanie witryny, oraz informacje o pobranych pakietach.</p> 
	<a href="#top" class="back">powrót</a>
	</div>

	<div class="static_page_content">
		<a name="ciasteczka"><h1>ciasteczka</h1></a>
		<p>Za każdym razem, kiedy użytkownik odwiedza stronę internetową, na sprzęt użytkownika pobierane są ciasteczka (cookies). W ten sposób przypisywany jest użytkownikowy numer identyfikacyjny. Ciasteczka pozwalają na zapamiętanie historii użytkownika na odwiedzanej stronie www.</p>
<p>Większość przeglądarek internetowych umożliwia wyłączenie opcji pobierania ciasteczek.</p>
	<a href="#top" class="back">powrót</a>	
	</div>
	<div class="static_page_content">
		<a name="swiadome"><h1>mówienie o sobie</h1></a>
<p>Wielu użytkowników Internetu nadal świadomie pozostawia w nim swoje dane. Pomimo tego, że są oni ogromnie wrażliwi na wszelkie odstępstwa od zachowania prawa do prywatności, bardzo często, bez głębszego namysłu, udostępniają informacje o sobie osobom trzecim.</p>
<p>Badania przeprowadzone w 2000 roku ujawniają1, że 54% ankietowanych decyduje się na udostępnianie swoich danych po uprzednim poproszeniu ich o to, a dodaktowe 10% zrobiłoby to, gdyby nadarzyły się ku temu odpowiednie okoliczności. Jedynie 25% pytanych użytkowników nigdy nie zgodziłoby się na udostępnianie swoich danych.</p>

	<a href="#top" class="back">powrót</a>
	</div>

</div>
