// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



$bold_font: 'SteelfishRg-Bold';
$regular_font: 'SteelfishRg-Regular';
$extra_bold_font: 'SteelfishEb-Regular';
$write: 'ClassicRound-Medium';

#comment404error {

	width: 900px;
	margin: 0 auto;
	padding: 50px;
	h1 {
		font-size: 3em;
		margin-top: 30px;
	}}

.comment_form_block {
	height: 500px;
	border-top: solid 3px #000;
	border-bottom: solid 3px #000;
	background-image: url('../images/pattern6.png');
	margin-bottom: 20px;
}

.comment_form {
	width: 1000px;
	margin: 0 auto;
}

.comment_field_left {
	width: 300px;
	padding: 50px;
	float: left;
	margin-left: 40px;
	font-size: 24px;
	img {
		margin-top: 20px;
		margin-left: 20px;
	}
}

.comment_field_right {
	width: 500px;
	padding: 20px;
	float: right;
	font-size: 24px;
	textarea {
		width: 500px;
		height: 350px;
		border: solid 3px #000;
		}
	input {
		width: 150px;
		height: 50px;
		font-family: $write;
		font-size: 24px;
		float: right;}
	}

#comment_icon {
	position: relative;
	left: 20px;
	}

.comments_listing {
	width: 700px;
	margin: 0 auto;
	margin-top: 30px;
	th {
		background-image: url('../images/pattern4.png');
	}}

.comment_listing_content {
	width: 400px;
	border: solid 1px #111;
	background-color: #ccc;
	}

.comment_listing_delete a{
	color: #e33;
	}


