
//variables

//fonts

$bold_font: 'SteelfishRg-Bold';
$regular_font: 'SteelfishRg-Regular';
$extra_bold_font: 'SteelfishEb-Regular';
$write: 'ClassicRound-Medium';

//footer

$foot_height: 200px;

//variables_end

* {
margin: 0;
}

html, body {
height: 100%;
}

img, a {
	border: 0;
	}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -15em;
}

.footer, .push {
height: 15em;
}

.footer {
	background-image: url('../images/pattern5.png');
	margin-top: 100px;
	border-top: solid 2px #111;
	}

body {
	margin: 0 auto;
	background-color: #ddd;
	background-image: url('../images/pattern.png');
  color: #333;
  font-family: $write, verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

.clear {
	clear: both;
	}

#top {
	background-image: url('../images/pattern2.png');
}

#logo {
	margin: 0 auto;
	width: 375px;
	color: 333;
	font-family: $extra_bold_font;
	padding: 30px;
	 h1, h2{
		display: block;
		}
	 h1 {
		font-size: 7.5em;
		/*text-shadow:
			1px 1px 0 #fc0,
			2px 2px 0 #fc0, 
			3px 3px 0 #fc0,
			4px 4px 0 #fc0;
		*/
		/*text-shadow: 
			-1px -1px #111,
			-2px -2px #111, 
			1px 1px #fff,
			2px 2px #fff;*/
	/*-webkit-text-stroke: 1px black;
   color: #a60;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;*/
		}
	 h2 {
		font-size: 4em;
		}
	 img {
		width: 375px;
		margin: 0 auto;		
		}
	}


p, ol, ul, td {
  font-family: $write, verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
     }
  &:hover {
    color: #111;
    }}

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

#menu_box {
	background-image: url('../images/pattern2.png');
	border-bottom: solid #111 2px;
	}

#main_menu {
		margin: 0 auto;
		text-align: center;
	a {
		color: #111;
		text-decoration: none;
		font-family: $bold_font;
		font-size: 2.5em;
		margin-right: 20px;
		/*text-shadow: 
			-1px -1px #777,
			-2px -2px #777, 
			1px 1px #eee,
			2px 2px #eee;*/
		&:visited {
  	  }
  	&:hover {
  	  color: #5d88b1; }
		}	
}

.belka {
	font-family: $bold_font;
	font-size: 1.5em;
	color: #000;
	}

.button {
	font-family: $regular_font;
	font-size: 2.5em;
	color: #5d88b1;
	}
