
//variables

//fonts

$bold_font: 'SteelfishRg-Bold';
$regular_font: 'SteelfishRg-Regular';
$extra_bold_font: 'SteelfishEb-Regular';
$write: 'ClassicRound-Medium';

//variables_end


body {
	margin: 0 auto;
	background-color: #ddd;
	background-image: url('../images/pattern.png');
  color: #333;
  font-family: $write, verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

.clear {
	clear: both;
	}

#logo {
	color: 333;
	font-family: $extra_bold_font;
	padding: 30px;
	 h1, h2{
		display: block;
		}
	 h1 {
		font-size: 7.5em;
		/*text-shadow:
			1px 1px 0 #fc0,
			2px 2px 0 #fc0, 
			3px 3px 0 #fc0,
			4px 4px 0 #fc0;
		*/
		/*text-shadow: 
			-1px -1px #111,
			-2px -2px #111, 
			1px 1px #fff,
			2px 2px #fff;*/
	/*-webkit-text-stroke: 1px black;
   color: #a60;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;*/
		}
	 h2 {
		font-size: 4em;
		}
	}

p, ol, ul, td {
  font-family: $write, verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
