// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//variables

//fonts

$bold_font: 'SteelfishRg-Bold';
$regular_font: 'SteelfishRg-Regular';
$extra_bold_font: 'SteelfishEb-Regular';
$write: 'ClassicRound-Medium';

//variables_end

		
#menu {
	margin: 0 auto;
	width: 1000px;
	height: 240px;
	margin-bottom: 100px;}

.menu_button {
	width: 180px;
	height: 220px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-image: url(../images/pattern2.png);
	overflow: hidden;
	}

#anonymity_button, #tracking_button, #methods_button, #problems_button, #statistics_button {
	margin-top: 10px;
	width: 180px;
	height: 200px;
	background-color: #ccc;
	position: relative;
	left: 0px;
	top: 0px;}

#anonymity_button_description, #tracking_button_description, #methods_button_description, #problems_button_description, #statistics_button_description {
	background-color: #555;
	color: #eee;
	width: 180px;
	height: 100px;
	position: relative;
	left: 0px;
	top: 0px;
	h3 {
		font-family: $bold_font;
		font-size: 1.75em;
		display: block-inline;
		padding: 20px 20px 0px 20px;
		width: 140px;
		text-align: center;
	}
	p {
		text-align: center;
	}
	 /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=70);

  /* Netscape */
  -moz-opacity: 0.7;

  /* Safari 1.x */
  -khtml-opacity: 0.7;

  /* Good browsers */
  opacity: 0.7;
}


#mainpage {
	height: 300px;
	width: 100%;
	background-color: #ff3;
	background-image: url('../images/pattern4.png');
	}

#mainpage_content {
	width: 1000px;
	margin: 0 auto;
	}

#mainpage_matters {
	width: 400px;
	padding: 50px;
	border: solid black 1px;
	float: left;
	height: 200px;
	}

#mainpage_info {
	width: 400px;
	padding: 40px;
	border: solid black 1px;
	float: left;}
